@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4" >
        
        
        <p>
            <li>@Html.ActionLink("Project", "Index", "Projects")</li>
        </p>
        
    </div>
    <div class="col-md-4" >
        
        
        <p>
            <li>@Html.ActionLink("Collaborators", "Index", "Users")</li>
        </p>
    </div>
    <div class="col-md-4" >
        <h2>Inventory</h2>

        
    </div>
</div>
